<div class="modal fade"

     id="locationModal"

     tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content border-0 shadow">

            <div class="modal-header">

                <h5 class="modal-title">

                    <i class="bi bi-geo-alt-fill text-success"></i>

                    Change Location

                </h5>

                <button class="btn-close"

                        data-bs-dismiss="modal">

                </button>

            </div>

            <div class="modal-body">

                <!-- Search -->

                <div class="mb-3">

                    <label class="form-label">

                        Search Area

                    </label>

                    <input
    type="text"
    id="locationSearch"
    class="form-control"
    placeholder="Search your area..."
    autocomplete="off">

                </div>

                <!-- Current Location -->

                <button

                    id="useCurrentLocation"

                    class="btn btn-success w-100">

                    <i class="bi bi-crosshair"></i>

                    Use Current Location

                </button>

            </div>

        </div>

    </div>

</div>