<footer id="contact" class="footer">

    <div class="container">

        <div class="row gy-5">

            <!-- Brand -->

            <div class="col-lg-4">

                <h3 class="footer-logo">

                    ShareBite

                </h3>

                <p>

                    ShareBite is a platform that connects food donors,
                    NGOs, restaurants, hotels and marriage halls to reduce
                    food waste and feed communities.

                </p>

            </div>

            <!-- Quick Links -->

            <div class="col-lg-2">

                <h5>

                    Quick Links

                </h5>

                <ul class="footer-links">

                    <li>

                        <a href="#">Home</a>

                    </li>

                    <li>

                        <a href="#features">Features</a>

                    </li>

                    <li>

                        <a href="#how">How It Works</a>

                    </li>

                    <li>

                        <a href="{{ url_for('auth.login') }}">

                            Login

                        </a>

                    </li>

                </ul>

            </div>

            <!-- Contact -->

            <div class="col-lg-3">

                <h5>

                    Contact

                </h5>

                <p>

                    <i class="bi bi-geo-alt-fill"></i>

                    Trichy, Tamil Nadu

                </p>

                <p>

                    <i class="bi bi-envelope-fill"></i>

                    support@sharebite.in

                </p>

                <p>

                    <i class="bi bi-telephone-fill"></i>

                    +91 9659238847

                </p>

            </div>

            <!-- Social -->

            <div class="col-lg-3">

                <h5>

                    Follow Us

                </h5>

                <div class="social-icons">

                    <a href="#">

                        <i class="bi bi-github"></i>

                    </a>

                    <a href="#">

                        <i class="bi bi-linkedin"></i>

                    </a>

                    <a href="#">

                        <i class="bi bi-instagram"></i>

                    </a>

                    <a href="#">

                        <i class="bi bi-facebook"></i>

                    </a>

                </div>

            </div>

        </div>

        <hr>

        <div class="text-center">

            <p>

                © 2026 ShareBite  • Developed by

                <strong>

                    Spark - X Team

                </strong>

            </p>

        </div>

    </div>

</footer>