<section class="hero">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-6">

                <span class="badge bg-success-subtle text-success px-3 py-2">

                    🌍Share a Bite, Save a Life

                </span>

                <h1 class="display-4 fw-bold mt-4">

                    Reduce Food Waste.

                    <br>

                    Feed More Lives.

                </h1>

                <p class="lead text-muted mt-4">

                    ShareBite connects restaurants,
                    hotels, marriage halls and NGOs
                    through one secure platform,
                    ensuring surplus food reaches
                    people instead of landfills.

                </p>

                <div class="mt-4">

                   <button
    class="btn btn-success btn-lg px-4"
    data-bs-toggle="modal"
    data-bs-target="#roleModal">

    Get Started

</button>

                    <a href="#how"
                       class="btn btn-outline-dark btn-lg px-4 ms-2">

                        Learn More

                    </a>

                </div>

            </div>

            <div class="col-lg-6 text-center">

                <img src="{{ url_for('static', filename='images/hero.png') }}"
                     class="img-fluid hero-image">

            </div>

        </div>

    </div>

</section>